/* Reset styles */
body,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

/* Global styles */
body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  color: black;
  position: absolute;
  top: 5%;
  left: 18%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: black;
  color: #fff;
  padding: 40px;
  box-sizing: border-box;
  z-index: 10;
}

h1 {
  font-size: 40px;
  text-align: left;
  border: 2px solid #3498db;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sidebar h2 {
  margin-bottom: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

a {
  display: inline-block;
  color: transparent;
  text-decoration: none;
  background-color: red;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
}

a:hover {
  background-color: #2980b9;
  color: white;
}

/* Content styles */
.content {
  margin-left: 250px;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.course-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 20px;
}

.course-content a {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  color: #fff;
  background-color: #3498db;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.course-content a:hover {
  background-color: #2980b9;
}

/* Table styles */
.table-container {
  max-width: 800px;
  margin: auto;
  padding: 5px;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 7px;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
}

/* Responsive styles */
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}

/* Form styles */
table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #3498db;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #3498db;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

select {
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #3498db;
  border-radius: 5px;
  box-sizing: border-box;
}

.form1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 16%;
  left: 65%;
  transform: translateX(-50%); /* Center the row horizontally */
}

button {
  padding: 6px; /* Adjust padding as needed */
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Add some margin between the form and the button */
}

button:hover {
  background-color: #2980b9;
}

.back-button {
  padding: 6px; /* Adjust padding as needed */
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Add some margin between the form and the button */
}

.back-button:hover {
  background-color: #2980b9;
}